<% provide(:title, 'About Us') %>
<h1>About Us</h1>
<p>
  The website, <a href="http://www.jeffmoor.com/">JeffMoor.com</a>,
  is currently under construction. <a href="http://www.jeffmoor.com/">JeffMoor.com</a> is going to be a great website.
</p>