<% provide(:title, 'Help') %>
<h1>Help</h1>
<p>
  I'm all the help you need...
  <a href="http://www.jeffmoor.com/">Click for help</a>.
  Seriously, 
  <a href="http://www.jeffmoor.com/">click for help</a>.
</p>