<div class="center hero-unit">
  <h1>Welcome to my future world</h1>

  <h2>
    This is the home page for the future
    <a href="http://www.jeffmoor.com/">Jeff Moor</a>
    website.
  </h2>

  <%= link_to "Sign up now!", '#', class: "btn btn-large btn-primary" %>
</div>

<%= link_to image_tag("rails.png", alt: "Rails"), 'http://www.jeffmoor.com/' %>